.game-container {
  margin: auto;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  width: 300px;
  height: 300px;
}

.header {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}

.player {
  color: #52a0ee;
  font-family: "Poppins", sans-serif;
}

.squarebox {
  border: 2px solid #52a0ee;
  padding: 25px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
}

.spacing-left {
  margin-left: 15px;
}

.squarebox:hover {
  background-color: #404caf;
}

.App {
  height: auto;
  text-align: center;
  padding: 80px;
  padding-top: 57px;
  display: block;
  border: white 2px solid;
  margin: 50px 32%;
  border-radius: 15px;
  background: #000911;
}

body {
  background-color: #1f1e1e;
}
