.game-container {
  margin: auto;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  width: 40%;
  justify-content: space-around;
}

.header {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}

.player {
  color: #52a0ee;
  font-family: "Poppins", sans-serif;
}

.squarebox {
  border: 2px solid #6eb2f7;
  padding: 25px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.spacing-left {
  margin-left: 15px;
}

.squarebox:hover {
  background-color: #404caf;
  border-radius: 10%;
  border: 5px solid #52a0ee;
}

.App {
  height: auto;
  text-align: center;
  padding: 40px;
  padding-top: 57px;
  display: flex;
  justify-content: center;
  align-content: center;
  border:#52a0ee 5px solid;
  margin-top: 3em;
  border-radius: 40px;
}

body {
  background-color: #1f1e1e;
}

.history{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 61px;
  text-align: left;
  width: 25em;
  height: 30em;
  overflow: auto;
}

.list-item{
  border-bottom: #0c0000 1px solid;
  height: 2em;
  padding: 0.5em;
}

.list-item:hover{
  background-color: rgb(161, 161, 161);
}

.history-button {
  margin-top: 1em;
  margin-left: 4em;
}